{{define "greeting"}}
    <p>Just saying {{.Greets}}</p>
    {{template "MyButton" .}}
{{end}}

{{define "MyButton"}}
    <button hg-event="add" hg-data="2" hg-trigger="click" class="bg-blue-400">Your clicked sum is {{.Count}}</button>
{{end}}
